.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
}

.popular-card-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.popular-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  padding: 1rem;
  line-height: 2rem;
}

.popular-card > p {
  max-width: 220px;
}
.popular-card > h3 {
  max-width: 220px;
}

.popular-card-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
